<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Accuracy</title>
    <link rel="stylesheet" href="/static/mystyle.css">
  </head>
  <body>

    <h1><b>Life Expectancy Post Thoracic Surgery</b></h1>
    <h1>Accuracies and recalls =></h1>
    <h3>SVM train data Accuracy without Bootstraping:{{p}}</h3>
    <h3>SVM train data Accuracy without Bootstraping:{{a}}</h3>
    <h3>SVM data Recall without Bootstraping:{{qc}}</h3>
    <h3>Navie train data Accuracy without Bootstraping:{{q}}</h3>
    <h3>Navie test data Accuracy without Bootstraping:{{qb}}</h3>
    <h3>Navie data Recall without Bootstraping:{{d}}</h3>
    <h3>Logistic train data Accuracy without Bootstraping:{{x}}</h3>
    <h3>Logistic test data Accuracy without Bootstraping:{{e}}</h3>
    <h3>Logistic data Recall without Bootstraping:{{qf}}</h3>
    <h3>SVM train data Accuracy with Bootstraping:{{n}}</h3>
    <h3>SVM test data Accuracy with Bootstraping:{{aa}}</h3>
    <h3>SVM data Recall with Bootstraping:{{mr}}</h3>
    <h3>Navie train data Accuracy with Bootstraping:{{qq}}</h3>
    <h3>Navie test data Accuracy with Bootstraping:{{bb}}</h3>
    <h3>Navie data Recall with Bootstraping:{{r1}}</h3>
    <h3>Logistic train data Accuracy with Bootstraping:{{pp}}</h3>
    <h3>Logistic test data Accuracy with Bootstraping:{{cc}}</h3>
    <h3>Logistic data Recall with Bootstraping:{{r2}}</h3>
    <h3>Random Forest train data Accuracy without Bootstraping:{{pa}}</h3>
    <h3>Random Forest test data Accuracy without Bootstraping:{{ap}}</h3>
    <h3>Random Forest data Recall without Bootstraping:{{yu}}</h3>
    <h3>Random Forest train data Accuracy with Bootstraping:{{d_train}}</h3>
    <h3>Random Forest test data Accuracy with Bootstraping:{{d_test}}</h3>
    <h3>Random Forest data Recall with Bootstraping:{{r3}}</h3>

  </body>
</html>
